  <div class="filter">
    <div class="filter__container">
      <input class="filter__search" type="text" placeholder="Filter todos by title" (input)="getSearchString($event)">
      <mat-radio-group aria-label="Select an option" (change)="onChange($event)">
        <mat-radio-button value="1" color="warn">Completed</mat-radio-button>
        <mat-radio-button value="2" color="warn">Non-completed</mat-radio-button>
        <mat-radio-button value="3" color="warn" checked>all</mat-radio-button>
      </mat-radio-group>
    </div>
  </div>
